@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #0c111c;
  font-family: "Poppins", sans-serif;
}

/* *::selection {
  background: #2b3dda;
  color: #fff;
} */

html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-track {
  background: rgb(32, 32, 33);
}
html::-webkit-scrollbar-thumb {
  background:#08e6ee;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 7rem;
background-color: #0c111c;
  box-shadow: 0 2px 4px rgba(3, 207, 248, 0.544);
}
nav,.nav-links{
  display: flex;
  
}

nav{
  justify-content: space-around;
 align-items: center;
 height: 13vh;
}

section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
/* header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
} */
header .logo  {
  font-size: 2.6rem;
  cursor: default;
  font-weight: 600;
  color: #e2830e;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  font-size: 1.5rem;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  color: rgb(220, 220, 220);
  transition: all 300ms ease;
  text-decoration-color: white;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  transition: all 500ms ease;
  color: #00d9ff;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: #00d9ff;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color:  #00d9ff;
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -150%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color:#0c111c;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 10rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 70%;
  height: 70%;
  margin-top: 5rem;
  margin-left: 8rem;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#section__text p {
  font-weight: 700;
  color: #cdd1d8;
  font-size: 4.5rem;
    }

    #section__text .wave{
      font-size: 4.5rem;
    }

.home .content .section__text__p1{
  text-align: center;
  font-size: 4.5rem;
  color: rgb(223, 223, 223);
  font-weight: 600;
}
.section__text__p1 .wave{
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

#section__text .title{
  font-size: 5rem;
text-align: center;
color: rgb(223, 223, 223);
font-weight: 600
}

.title-name{
  font-size: 5rem;
  color: #00d9ff;
  font-weight: 600;
}
.pargraph-text {
  margin-top: 1rem;
}


.typing-text{
    font-size: 3.5rem;
    color: #00d9ff;
    font-weight: 600;
    padding: 1rem 0;
    margin-left: 10rem;
  }
  .home .btn {
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 2.1rem 3rem;
    border-radius: 4em;
    color: #fff;
    background-color: #000000;
    border-color: #04ecd9df;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
    font-weight: 100;
  }
  .resumebtn {

    margin-top: 5rem;
    margin-left: 20rem;
  }
  button{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.7rem;
    width: 13rem;
    border-radius: 2rem;
  }

  .btn:hover {
    cursor: pointer;
    background-color:rgba(3, 207, 248, 0.544);
  }
  


/* social icons start */
.socials {
  position: relative;
  margin-top: 15rem;
  margin-left: 16rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2.2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  /* background-color: #09011b; */
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #d684cf;
}
/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin-left:-6rem;
  }
  .socials {
    margin-top: 12rem;
    margin-left:8.5rem;
  }
  .home .image img {
    margin-top: 1rem;
  }
  .home .content p {
    font-size: 2.5rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background-color:#0c111c;
}

#about-me .section__text__p1{
  text-align: center;
  font-size: 1.8rem;
  color: #e1e1e1;
  font-weight: 500;
  margin-top: 6rem;
}
#about-me .title {
 font-size: 3.5rem;
 color: #00d9ff;
 font-weight: 800;
 text-align: center;
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(194, 194, 194);
  font-size: 2.8rem;
}
.about .row .content .tag {
  font-size: 1.7rem;
  color: #0ea7d5;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 2rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  color: rgb(178, 177, 177); 
}


/* about media queries starts*/
@media screen and (max-width: 600px) {
  #about #about-me {
    margin-top: 1rem;
  }

  .about .row {
    padding: 0.5rem;
    /* margin-bottom: 7rem; */
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills {
  min-height: 100vh;
  background: #0c111c;
}
.skills-heading .section__text__p1{
  text-align: center;
  font-size: 1.8rem;
  color: #e1e1e1;
  font-weight: 500;
  margin-top: 5rem;
}
.skills-heading .heading {
 font-size: 3.5rem;
 color: #00d9ff;
 font-weight: 800;
 text-align: center;
}
/* .skills h2 {
  color: #fff;
} */
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container {
  background: rgba(4, 66, 236, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  box-shadow: 0 8px 10px rgba(3, 162, 241, 0.738) !important;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */



/* work section starts */
.work {
  /* background: #010124; */
  background: #0c111c;
}
#work .section__text__p1{
  text-align: center;
  font-size: 1.9rem;
  color: #e1e1e1;
  font-weight: 600; 
  margin-top: 6rem;
}

#work .title{
  font-size: 2.7rem;
  color:#00d9ff ;
  font-weight: 700;
  text-align: center;
}
.work h2 {
  color: #fff;
  padding: 1rem;
}
.work .heading span {
  color: rgb(255, 230, 0);
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem;
 
}
.work .box-container .box {
  /* background: rgb(13, 188, 252); */
  background: transparent;
  border-radius: 2rem;
  border: rgb(5, 199, 229) 0.1rem solid;
  border-color: rgb(8, 199, 243);
  flex: 1 1 30rem;
  /* border-radius: 0.5rem; */
  box-shadow: rgba(7, 200, 230, 0.5);
  position: relative;
  overflow: hidden;
  height: 30rem;
  transition: all .5s;
  margin-top: 5rem;
}

.work .box-container .box:hover{
  transform:scale(1);
  box-shadow: 0 4px 15px rgba(3, 207, 248, 0.544);
}
.work .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  /* background: rgba(255, 255, 255, 0.9); */
  display: flex;
  flex-direction: column;
}
.work .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: #ffcc00;
  text-align: center;
}
.work .box-container .box .content .tag h3 {
  font-size: 2rem;
  text-align: center;
}
.work .box-container .box:hover .content {
  top: 25%;
}
.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.work .desc p {
  font-size: 1.5rem;
}
.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.work .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #000000;
  border-color: #04ecd9df;
  margin-right: 2rem;
}
.work .desc .btns .btn:hover {
  background: #0a91e0f5;
}
.work .viewall {
  display: flex;
  justify-content: center;
}
.work .viewall .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 2px solid #fff;
  box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
  text-align: center;
}
.work .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.work .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.work .viewall .btn:hover {
  background: #fff;
  color: #000;
}
.work .viewall .btn:hover i {
  transform: translateX(5px);
}
/* work section ends */

/* contact section starts */
#contact {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  height: 93vh; */
  background:#0c111c;
  min-height: 93vh;
}
#contact .section__text__p1{
  margin-top: 6rem;
  text-align: center;
  font-size: 1.9rem;
  color: #e1e1e1;
  font-weight: 600;
}

#contact .title{
  font-size: 2.7rem;
  color:#00d9ff ;
  font-weight: 700;
  text-align: center;
}
.contact-form{
  width: 100%;
  margin-top: 10vh;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .contact-form form{
    background-color:#030E22;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 50px 30px 20px;
    border-radius: 10px;  
    box-shadow: 0 4px 15px rgba(3, 207, 248, 0.544);
    position: relative;
  }
  .input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 7px 0;
    position: relative;
  }
  .input-group label{
    flex-basis: 30%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
  
.input-group input, .input-group textarea{
  flex-basis: 90%;
  background: #f5f5f5;
  border: 0;
  outline: 0;
  padding: 10px 0;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}

form button{
  color: #fff;
  background-color: #000000;
  border-color: #04ecd9df;
font-weight: 100;
width: 150px;
cursor: pointer;
border-radius: 30px;
padding: 10px 40px;
outline: 0;
cursor: pointer;
margin: 30px auto 10px;
}
form button:hover{
  background-color: rgba(3, 207, 248, 0.544);
}
.input-group span{
  position: absolute;
  bottom: 19px;
  right: 4px;
  font-size: 13px;
color: red;
font-weight: 500;
}

#submit-error{
  color: rgb(255, 0, 30);
 text-align: center;
 font-weight: 500;
 font-size: 13px;
}

.input-group span i{
  color: seagreen;
}
.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 1.5rem;
  font-size: 1.8rem;
  margin-top: 6.1rem;
}

.contact-info-container p {
  font-size: larger;
  /* font-weight: 500; */
  color:  rgba(255, 255, 255, 0.9);
  font-weight: 500;
}

.contact-info-container p i {
  color: #f4ae0b;
  outline-color: #020115;

}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background:#0c111c;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  font-size: 1.9rem;
  padding: 0.7rem 0;
  text-transform: none;
}
.box .box-heading{
  color:rgb(209, 209, 209);
  font-size: 2.3rem;
}
.box a {
  font-size: 1.5rem;
  padding: 0.3rem 0;
  text-decoration: none;
}

.box a:hover {
  color: #ffae00;
}

.share-container {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem;  */
}

.footer .share {
  display: flex;
  padding: 1rem 0;
}

.share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.9rem;
  margin-right: 1rem;
  transition: 0.5s;
  /* background: rgb(230, 230, 230); */
  background: rgba(0, 0, 22, 0.9);
  color: rgb(231, 231, 231);
  border: none;
  text-decoration: none;
}

.share a:hover {
  background: transparent;
  transform: scale(0.99);
  border: 0.1rem solid rgba(3, 207, 248, 0.544);
  color:#f4ae0b ;
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */