/* Google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Universal Selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Target entire elements */
body{
  font-family: 'Poppins', sans-serif;  
  background-color:#0c111c;
}

html::-webkit-scrollbar{
  width: 0.9rem;
}
html::-webkit-scrollbar-track {
  background: rgb(32, 32, 33);
}
html::-webkit-scrollbar-thumb {
  background: #08e6ee;
}

html{
scroll-behavior: smooth;
overflow-x: hidden;  
}

/* Desktop navbar */
#Desktop-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 5rem;
    background-color: #0c111c;
    box-shadow: 0 1px  rgba(160, 171, 181, 0.3);
}

nav,.nav-links{
    display: flex;
    
}

nav{
    justify-content: space-around;
   align-items: center;
   height: 13vh;

}
.logo{
    font-size: 2.5rem;
    cursor: default;
    font-weight: 500;
    color: #e2830e;
}

.nav-links{
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: rgb(220, 220, 220);
    transition: all 300ms ease;
    text-decoration-color: white;
}
a:hover{
  transition: all 400ms ease;
    color: #00d9ff;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: #00d9ff;
}

/* Mobile Navbar */

#Mobile-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
height: 2px;
background-color: black;
width: 100%;
transition: all 0.3 ease-in-out;   
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

/* menu.classList.toggle("open") from Javascript we have created a class called "open" */
.menu-links.open{
max-height: 200px;
}


/* First child that means first child element */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
   
  }
  

  /* Sections */

  section{
    padding-top: 19vh;
    margin: 0 10rem;
   min-height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section-container{
    display: flex;
  }


   /* Profile Section */
  #profile{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 15rem;
min-height: 100vh;
  }

   .profile #particles-js {
    position: absolute;
    width: 95%;
    height: 95%;
    top:0;
    left: 0;
  }


  .section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    z-index: 1;
  }

  .section__text{
align-self: center;
text-align: center;
/* z-index: 1; */
  }

  .section__text p {
font-weight: 700;
color: #cdd1d8;
font-size: 2.5rem;
  }

  .profile .section__text__p1{
text-align: center;
font-size: 2.9rem;
color: rgb(223, 223, 223);
font-weight: 600;
  }
.section__text__p1 .wave{
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


  .title{
font-size: 2.9rem;
text-align: center;
color: rgb(223, 223, 223);
font-weight: 600;
  }

.title-name{
  font-size: 2.9rem;
  color: #00d9ff;
  font-weight: 600;
}
.pargraph-text {
  margin-top: 2rem;
}


.typing-text{
    font-size: 2.6rem;
    color: #00d9ff;
    font-weight: 500;
  }

  .buttons-container{
display: flex;
justify-content: center;
gap: 1.6rem;
/* align-items: center; */
margin-left: 4rem;
z-index: 1;
position: absolute;
margin-top: 0.5rem;
  }

  button{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.7rem;
    width: 8rem;
    border-radius: 2rem;
  }

  .btn-1,.btn-2{
border: rgb(53, 53, 53) 0.1rem solid;
  }

  .btn-1:hover,.btn-2:hover{
  cursor: pointer;
      }

      .btn-1,
.btn-2:hover {
  background: rgb(35, 35, 35);
  color: white;
}

.btn-1:hover{
    background: rgb(0, 0, 0);
}

.btn-2{
    background: none;
}

.btn-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
   .profile #socials-container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
    position: relative;
  }
  .icon{
    cursor: pointer;
    height: 2.1rem;
  }
 
  #socials-container .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  #socials-container .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 1.7rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.instagram:hover {
    background-color: #d684cf;
  }

/* About Section */
#about{
  position: relative;
  margin-top: -1rem;
}
 #about #about-me{
  margin-top: -1rem;
 }

 #about #content{
  flex: 1 1 45rem;
  padding: 1rem;
 }

#about .section__text__p1{
  text-align: center;
font-size: 1.3rem;
color: #e1e1e1;
font-weight: 600;
}

#about .title {
  font-size: 2.7rem;
  color: #00d9ff;
  font-weight: 800;
  text-align: center;
}
#about .section-container{
  gap: 2rem;
  height: 50%;
}

#about .about-details-container{
justify-content: center;
flex-direction: column;
}

#about .about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-containers, .about-details-container{
  display: flex;
  
}

#about #image{
  /* border-radius: 2rem; */
margin-top: 3rem;

}

#about .details-container{
  padding: 1rem;
  background:#1D232A;
  border-radius: 2rem;
  flex: 1;
  border: rgb(42, 42, 42) 0.1rem solid;
  /* border-color: #474747; */
  text-align: center;
  box-shadow: 0 25px 25px -12px rgba(0,0,0,.25);
}
.details-container .icon{
  cursor:default;
}
.text-container h3{
  color: rgb(187, 187, 187);
  font-size: 2.5rem
}
.text-container span {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  /* margin-top: 1rem  */
}

.text-container p {
  font-size: 1.2rem;
    /* margin-top: 1rem; */
    /* font-family: "Nunito"; */
    /* font-weight: 300; */
    text-transform: none;
}
.arrow{
  position: absolute;
  right: -5rem;
  bottom: 1rem;
}

/* Skills section */

#skills{
  margin-top: -1rem;
}

#skills .skills-heading{
  margin-top: -1rem;
}

#skills .section__text__p1{
  text-align: center;
  font-size: 1.3rem;
  color: #435a80;
  font-weight: 600; 
}

#skills .title{
  font-size: 2.7rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

#skills .container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c939b ;
/*  
  rgba(56, 56, 125, 0.802) */
  color: #fff;
  border-radius: 1rem;
  padding: 3.5rem;
  width: 90%;
  margin: auto;
  margin-top: 6rem;
}

#skills .container .row {
  display: grid;
  grid-template-columns: repeat(7,3fr);
  flex-wrap: wrap;
  gap: 1.9rem;
}

#skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}

#skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

#skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#skills .container .bar .info i {
  font-size: 4rem;
}

#skills .container .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}


/*Projects section */
#projects{
  height: 100vh;

}
#projects .projects-details-container{
margin: 1rem;
height: 70vh;
}

#projects .project-heading{
  margin-top: -1rem;
}

#projects .section__text__p1{
  text-align: center;
  font-size: 1.3rem;
  color: #435a80;
  font-weight: 600; 
}

#projects .title{
  font-size: 2.7rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(134, 134, 134);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: transparent;
  /* rgb(77, 77, 77); */
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}
.project-title{
  padding: 1rem;
}
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-btn {
  background-color: black;
  color: #fff;
  border-color: rgb(163, 163, 163);
margin: 5px;
}
.project-btn:hover{
  background: #00D9FF;
}
.projects-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-containers{
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


/* Contact section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 93vh;
}

.contact-form{
width: 100%;
margin-top: 6vh;
height: 55vh;
display: flex;
align-items: center;
justify-content: center;
}

.contact-form form{
  background-color:#1F2937;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 50px 30px 20px;
  border-radius: 10px;  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.input-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 7px 0;
  position: relative;
}
.input-group label{
  flex-basis: 28%;
  color: rgb(169, 169, 169);
}

.input-group input, .input-group textarea{
  flex-basis: 90%;
  background: #f5f5f5;
  border: 0;
  outline: 0;
  padding: 10px 0;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}

form button{
width: 150px;
background: #4F46E5;
color: #fff;
border: 0;
cursor: pointer;
border-radius: 30px;
padding: 10px 40px;
outline: 0;
cursor: pointer;
margin: 30px auto 10px;
}
.input-group span{
  position: absolute;
  bottom: 19px;
  right: 4px;
  font-size: 13px;
color: red;
}

#submit-error{
  color: rgb(255, 0, 30);
 text-align: center;
 font-weight: 500;
}

.input-group span i{
  color: seagreen;
}

.contact-heading {
  margin-top: -1rem;
}

.contact-heading .section__text__p1 {
  text-align: center;
  font-size: 1.3rem;
  color: #435a80;
  font-weight: 600;
}

.contact-heading .title {
  font-size: 2.7rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center; /* Center horizontally */
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.7rem;
  gap: 1rem;
}

.contact-info-container {
  display: flex;
  gap: 2rem;
  margin: 1.5rem;
  font-size: 1.2rem;
}

.contact-info-container p {
  font-size: larger;
  /* font-weight: 500; */
  color:  rgba(255, 255, 255, 0.9);
}

.contact-info-container p i {
  color: #f4ae0b;
  outline-color: #020115;

}

.email-icon {
  height: 2.5rem;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  font-size: 1.6rem;
  padding: 0.7rem 0;
  text-transform: none;
}
.box .box-heading{
  color:rgb(209, 209, 209);
}
.box a {
  font-size: 1.5rem;
  padding: 0.3rem 0;
  text-decoration: none;
}

.box a:hover {
  color: #ffae00;
}

.share-container {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem;  */
}

.share {
  display: flex;
  padding: 1rem 0;
}

.share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  /* background: rgb(230, 230, 230); */
  background: rgba(0, 0, 22, 0.9);
  color: rgb(231, 231, 231);
  border: none;
  text-decoration: none;
}

.share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color:#f4ae0b ;
}


#contact-arrow{
transform: rotate(180deg);
}